<suite name = "Parallel Testing Suite">
    <test name = "Multiple Tests" >
        <classes>
            <class name = "test1" />
        </classes>
    </test>
    <test name = "Multiple Tests 2" >
        <classes>
            <class name = "test1" />
        </classes>
    </test>
    <test name = "Multiple Tests 3" >
        <classes>
            <class name = "test1" />
        </classes>
    </test>
</suite>